@charset "utf-8";

/*menu*/
#navTop{position: relative;z-index: 2;}
#top_logo{position: absolute;margin: 1.5% 8%;}
#top_logo img {
    width: 12vh;
}
#top_menu{position: fixed;width:100%;height: 100%;background:url(../img/toggle_img1.jpg)no-repeat center;background-size: cover;right: -100%;transition: 0.5s}
#top_menu div{position: absolute;left:50%;top: 50%;transform: translate(-50%,-50%);text-align: center;}
#top_menu li{padding-bottom: 30%;text-align: center;}
#top_menu li a{color:green;font-weight: bold;font-size: 3vh;}
#top_menu img{width: 30px;margin-left: 50%;transform: translate(-50%,-35%);}
#top_menu li:nth-child(6) a{font-size: 2.3vh;font-weight: normal;}
#top_menu li:nth-child(7) a{font-size: 2.3vh;font-weight: normal;}
#top_menu li:nth-child(8) a{font-size: 2.3vh;font-weight: normal;}
#top_menu li:nth-child(9) a{font-size: 2.3vh;font-weight: normal;}
#fullpage{width: 100%;height: 100%;}

/*page1*/
#page1{height: 100%;width: 100%;
	background: url(../img/main_bg.jpg)no-repeat bottom; background-size:cover;position: relative;}
.main_page{width: 1200px;margin: 0 auto;height: 100%;}
.main_page img{height: 100%;position: absolute;right: 15%;}
#sub_menu{
	position: absolute;
	top: 48%;right: 13%;
	font-size: 3.5vh;line-height: 2.5em;text-align: center;
	font-weight: bold;
}
.text_wrap{position: absolute;top: 25%;left: 15%;}
h2{font-family: 'Petit Formal Script', cursive;}
.text_wrap h2{
	width: 100%;font-size: 5vh;
}
.text_wrap h2 span{
			display:inline-block;
			animation-name: tani;
			animation-duration: 0.5s;
			animation-fill-mode: forwards;
			opacity: 0;
		}
		.text_wrap h2 span:nth-child(2){animation-delay: 0.3s;}
		.text_wrap h2 span:nth-child(3){animation-delay: 0.6s;}
		.text_wrap h2 span:nth-child(4){animation-delay: 0.9s;}
		.text_wrap h2 span:nth-child(5){animation-delay: 1.2s;}
		.text_wrap h2 span:nth-child(6){animation-delay: 1.5s;}
		.text_wrap h2 span:nth-child(7){animation-delay: 1.8s;}
		.text_wrap h2 span:nth-child(8){animation-delay: 2.1s;}
		.text_wrap h2 span:nth-child(9){animation-delay: 2.4s;}
		.text_wrap h2 span:nth-child(10){animation-delay: 2.7s;}
		.text_wrap h2 span:nth-child(11){animation-delay: 3s;}
		.text_wrap h2 span:nth-child(12){animation-delay: 3.3s;font-size: 3vh;}
		.text_wrap h2 span:nth-child(13){animation-delay: 3.6s;font-size: 4vh;}
		.text_wrap h2 span:nth-child(14){animation-delay: 3.9s;font-size: 4vh;}
		.text_wrap h2 span:nth-child(15){animation-delay: 4.1s;font-size: 4vh;}
		.text_wrap h2 span:nth-child(16){animation-delay: 4.4s;font-size: 4vh;}
		.text_wrap h2 span:nth-child(17){animation-delay: 4.7s;font-size: 4vh;}
		.text_wrap h2 span:nth-child(18){animation-delay: 5s;font-size: 4vh;}
		.text_wrap h2 span:nth-child(19){animation-delay: 5.3s;font-size: 4vh;}
		.text_wrap h2 span:nth-child(20){animation-delay: 5.6s;font-size: 4vh;}
		.text_wrap h2 span:nth-child(21){animation-delay: 5.9s;font-size: 4vh;}
		@keyframes tani{
			from{}
			to{opacity: 1;}
		}

/*toggle*/
.toggle{position: fixed;width: 30px;height: 30px;right: 3%;top: 50%;transform: translateY(-50%);z-index: 3;cursor: pointer;color: #333;font-weight: bold;}
.toggle p{position: absolute;right: 120%;margin-top: 3px;transform:rotate(-90deg);transition: 0.3s;font-weight:}
.toggle:hover p{transform:rotate(0deg);transition: 0.3s;font-weight: bold;font-size: 2vh;}
.toggle:hover .bar2{width: 20px;transition: 0.3s;}
.toggle div{position: fixed;width: 100%;height: 4px;background-color: gray;border-radius: 2.5px;transition:0.3s;}

.toggle .bar1{top: 2px;}
.toggle .bar2{top: 14px;}
.toggle .bar3{top: 26px;}


.toggle.change .bar1{transform: rotate(-45deg);top: 12px;position: absolute;}
.toggle.change .bar2{display: none;}
.toggle.change .bar3{transform: rotate(45deg);top: 12px;position: absolute;}



/*page2*/
#page2{height: 100%;width: 100%;
	background: url(../img/sub1-bg.jpg)no-repeat center; background-size:cover;}

#page2 h1{
	text-align: center;padding-bottom: 30px;
	font-size: 3.5vh;color: #9d9797; 
}
#page2 .bg{background-color: rgba(156,156,156,.5);width: 100%;height: 83vh;/*position: absolute;bottom: 0;*/position: relative;}
.bg>p{width: 2px;height: 95%;background-color: #000;position: absolute;left: 50%;transform: translateX(-50%);margin-top: 20px;}
.left_box{width: 40%;height: 85%;margin: 2.5% 5%;
	_background-color: #fff;float: left;color: #5a5959;position: relative;}
.left_box>h3{padding: 3vh 0 0 5%;font-size: 4vh;}
.left_box>p{padding: 2% 7%;font-size: 2.5vh;font-weight: bold;}
.left_box>p:after{content: "";display: block;width: 1px;height: 36vh;background-color: #000;margin-top: 4vh;}
.left_box ul {
    position: absolute;
    bottom: 23%;
    left: 10%;
}
.left_box ul li{font-size: 2vh;}
.left_box img {
    width: 42vh;
    position: absolute;
    right: 0;
    top: 42%;
    transform: translateY(-42%);
}

.right_box{width: 40%;height: 85%;margin: 2.5% 5%;
	_background-color: #fff;float: left;color: #5a5959;}
.right_box h3{padding: 3vh 0 0 5%;font-size: 4.5vh;}
.develop {
    width: 100%;
    height: 35%;
    position: relative;
}
.develop img{margin: 7% 5%;float: left;}
.develop span {
    position: absolute;
    bottom: 10vh;
    left: 2.1vh;
    font-size: 1.8vh;
}
.develop ul {
    float: left;
    margin: 1vh 0;
}
.develop li {
    float: left;
    font-size: 2vh;
    width: 10vh;
    text-align: center;
    line-height: 5vh;
}
.develop p {
    float: left;
    font-size: 1.8vh;
    margin: 0 0 0 3vw;
}

.design{ width: 100%;position: relative;
}
.design img{margin: 6% 5%;float: left;}
.design span {
    position: absolute;
    bottom: 2.5vh;
    left: 3.5vh;
    font-size: 1.8vh;
}
.design ul {
   padding: 2.5vh 0 0 0;
}
.design li {
	float: left;
    margin: 1.5vh 1.5vh;
    font-size: 2vh;
}

.certificate{
	width: 100%;
    height: 35%;
    position: relative;
}
.certificate img{margin: 7% 5%;float: left;}
.certificate span {
    position: absolute;
    bottom: 9.5vh;
    left: 2.5vh;
    font-size: 1.8vh;
}
.certificate ul {
    padding: 3vh 0;
    float: left;width: 27%;
    padding-left: 5%;
    text-align: center;
}
.certificate li {
    float: left;
    margin: 1vh 0;
    font-size: 2vh;
}
.certificate ul:last-child img {
    margin-bottom: 1.3vh;
}
.certificate ul img{
	width: 6vh;
	margin-left: 50%;
    transform: translateX(-50%);
}


/*page3*/
#page3{height: 100%;width: 100%;
	background: url(../img/sub2-bg.jpg)no-repeat center; background-size:cover;position: relative;overflow: hidden;}
#page3 h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 6vh;
    color: #9d9797;
}
.page3_img {
    position: absolute;
    width: 60vh;
    left: 12%;
    z-index: 2;
    animation: ho 1s linear infinite alternate;
}
@keyframes ho{
	from{bottom: 4vh;}
	to{bottom: 7vh;}
}
.page3_img img{width: 30vw;}
.page3_box,.page4_box,.page5_box,.page6_box{position: absolute;opacity: 0;bottom:-100%;transition: 0.8s;}
.page3_box.move,.page4_box.move,.page5_box.move,.page6_box.move{opacity: 1;bottom: 8vh;}



.page3_box {
    width: 91vh;
    height: 75vh;
    position: absolute;
    left: 35%;
    background-color: rgba(165,174,167,0.5);
    padding: 9vh 0 0 10vw;
}
.page3_box h3, .page4_box h3,.page5_box h3,.page6_box h3{
	color: #5a5959;
    font-size: 6vh;
    padding-bottom: 6vh;}
.page3_box p, .page4_box p, .page5_box p, .page6_box p{
    font-size: 2.5vh;
    line-height: 5vh;
    color: #fff;
}

.page3_box p:after, .page4_box p:after,.page5_box p:after,.page6_box p:after{
    content: "";
    display: block;
    width: 2.5vw;
    height: 0.3vh;
    background: #5a5959;
    margin: 10vh 0 3vh 0;
}
.page3_box a, .page4_box a, .page5_box a, .page6_box a{
    width: 10vw;
    line-height: 5vh;
    border: 3px solid #5a5959;
    margin: 5vh 0;
	text-align: center;font-size: 1.8vh;
}
.page3_box a:hover, .page4_box a:hover, .page5_box a:hover, .page6_box a:hover{background-color: #5a5959;color: #fff;transition: 0.3s}

/*page3-1*/

#page3-1{height: 100%;width: 100%;
	background: url(../img/sub3-bg.jpg)no-repeat center; background-size:cover;position: relative;}

.page4_img {
    position: absolute;
    right: 6vw;
    z-index: 2;
    animation: ho 1s linear infinite alternate;
}
.page4_img img {
    width: 60vw;
}
.page4_box {
    width: 89vh;
    height: 75vh;
    position: absolute;
    left: 8%;
    background-color: rgba(165,174,167,0.5);
    padding: 8vh 0 0 4vw;
}




/*page3-2*/

#page3-2{height: 100%;width: 100%;
	background: url(../img/sub4-bg.jpg)no-repeat center; background-size:cover;position: relative;overflow: hidden;}

.page5_img {
    position: absolute;
    left: 6vw;
    z-index: 2;
    animation: ho 1s linear infinite alternate;
}
.page5_img img {
    width: 48vw;
}
.page5_box {
    width: 89vh;
    height: 77vh;
    position: absolute;
    right: 8%;
    background-color: rgba(165,174,167,0.5);
    padding: 9vh 0 0 8vw;
}

/*page3-3*/

#page3-3{height: 100vh;width: 100%;
	background: url(../img/sub5-bg.jpg)no-repeat center; background-size:cover;position: relative;overflow: hidden;}

.page6_img {
    position: absolute;
    right: 6vw;
    z-index: 2;
    animation: ho 1s linear infinite alternate;
}
.page6_img img {
    width: 52vw;
}
.page6_box {
    width: 100vh;
    height: 77vh;
    position: absolute;
    left: 8%;
    background-color: rgba(165,174,167,0.5);
    padding: 7vh 0 0 5vw;
}




/*page4*/
#page4{height: 100vh;width: 100%;
	background: url(../img/last-bg22.jpg)no-repeat center; background-size:cover;overflow: hidden;position: relative;}
#page4 h1 {
    font-size: 3.5vh;
    color: #4d4d4d;
    position: absolute;
    top: 7vh;
    left: 50%;
    transform: translateX(-50%);
}
.contact{width: 115vh;height: 64vh;position: absolute;top: 60%;left: 50%;transform: translate(-50%,-60%);background-color: rgba(255,255,255,0.5);text-align: center;}

h3.number {
    font-size: 5vh;
    margin: 5% 0 1% 0;
}
h3.e-mail {
    font-size: 3vh;
}
.github {
    left: 45%;
    position: absolute;
    transform: translate(-45%,-50%);
    top: 50%;
}
.github img {
    width: 7vh;
}
.address {
    position: absolute;
    bottom: 12vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2vh;
}
h3#clock {
    position: absolute;
    bottom: 9%;
    left: 50%;
    font-size: 3vh;
    transform: translateX(-50%);
}
a.pdf {
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(-55%, -50%);
}
.pdf img {
    width: 5vh;
}