@charset "utf-8";
/*menu*/
#navTop{z-index: 2;position: relative;}
#top_logo{position: absolute;margin: 20px;}
#top_logo{width: 1200%;height: 35px;}
#top_menu{position: fixed;width:10%;height: 100%;background-color:#fff;right: -100%;}
#top_menu div{position: absolute;left:10%;top: 50%;transform: translateY(-50%);}
#top_menu li{padding-bottom: 50px;}
#top_menu li a{color:skyblue;font-weight: bold;font-size: 1.3em;}


.toggle{width: 60px;height:60px;position: fixed;right: 0;cursor:pointer;z-index: 3;}
.toggle div{position: fixed;width: 35px;height: 4px;background-color: #ddd;z-index: 2;border-radius:2px;}


.toggle .bar1{top: 23px;}
.toggle .bar2{top: 33px;}
.toggle .bar3{top: 43px;}

.toggle.change .bar1{transform: rotate(-45deg);top: 30px;}
.toggle.change .bar2{display: none;}
.toggle.change .bar3{transform: rotate(45deg);top: 30px;}

/*page*/
#fullpage{width: 100%;height: 100%;}
#page{background-repeat: no-repeat;
			background-position: center top;
			background-size: cover;}
.page1{position: relative;}
.scroll{animation:ho 1s infinite alternate;position: absolute;right: 50%;z-index: 3;}
.scroll p{color:#28323C;text-align: center;}

@keyframes ho{
	from{bottom: 20px;}
	to{bottom: 40px;}
}

.slide{position: relative;}
.slide .sView1,
.slide .sView2,
.slide .sView3
{position: absolute;width: 100%;height: 100%;top: 0;}
.sView1{background-image: url(../images/main-1.jpg);}
.sView2{background-image: url(../images/main-2.jpg);}
.sView3{background-image: url(../images/main-3.jpg);}
.slide .sView1 p,
.slide .sView2 p,
.slide .sView3 p{font-size: 4.5em; color:#28323C;font-weight: bold;padding-top: 300px;padding-left: 200px;line-height: 1.3em;}
/*.fp-controlArrow.fp-prev{display: none;}
.fp-controlArrow.fp-next{display: none;}*/
.apple{position: absolute;right: 28%;bottom: 10%;z-index: 3;}
.google{position: absolute;right: 15%;bottom: 10%;z-index: 3;}


/*page2*/
.page2 h1{margin-left: 50px;margin-bottom: 30px;font-size: 2.3em;}
.page2 span{margin-left: 50px;}
.page2{background-image: url(../images/page2_bg.png);position: relative;}
.card{position: absolute;right: 0;top: 50%;transform: translateY(-50%);cursor:pointer;}
.card01{position: relative;width: 350px;height: 500px;overflow: hidden;float: left;}
.img1{display: block;position: absolute;left: -50%;}
.card01:hover img{transition: 0.3s;transform: scale(1.2);}
.card01:hover .back{opacity: 0.3;}
.card01:hover .card_body1{color:#fff;z-index:2;font-size:2.5em;transition: 0.8;}
.card_body1{z-index:1;position: absolute;top: 50%;left: 50%;transform: translateX(-50%);font-size: 2em;font-weight: bold;color:#fff;}
.back{position: absolute;width: 350px;height: 500px;z-index:1;background-color:#000;top: 0;opacity: 0;transition: 0.3;}

.card02{position: relative;width: 350px;height: 500px;overflow: hidden;float: left;}
.img2{position: absolute;left: -50%;}
.card02:hover img{transition: 0.3s;transform: scale(1.2);}
.card02:hover .back{opacity: 0.3;}
.card02:hover .card_body2{color:#fff;z-index:2;font-size:2.5em;transition: 0.8;}
.card_body2{z-index:1;position: absolute;top: 50%;left: 50%;transform: translateX(-50%);font-size: 2em;font-weight: bold;color:#fff;}


.card03{position: relative;width: 350px;height: 500px;overflow: hidden;float: left;}
.img3{position: absolute;left: -50%;}
.card03:hover img{transition: 0.3s;transform: scale(1.2);}
.card03:hover .back{opacity: 0.3;}
.card03:hover .card_body3{color:#fff;z-index:2;font-size:2.5em;transition: 0.8;}
.card_body3{z-index:1;position: absolute;top: 50%;left: 50%;transform: translateX(-50%);font-size: 2em;font-weight: bold;color:#fff;}


.card04{position: relative;width: 350px;height: 500px;overflow: hidden;float: left;}
.img4{position: absolute;left: -50%;}
.card04:hover img{transition: 0.3s;transform: scale(1.2);}
.card04:hover .back{opacity: 0.3;}
.card04:hover .card_body4{color:#fff;z-index:2;font-size:2.5em;transition: 0.8;}
.card_body4{z-index:1;position: absolute;top: 50%;left: 50%;transform: translateX(-50%);font-size: 2em;font-weight: bold;color:#fff;}






.page3{background-image: url(../images/bg3.png ), url(../images/bg3-2.png);position: relative;}
.page3:hover {transform: scale(1.2);transition: 0.3s;}
.left{width: 500px;margin-left: 500px;color:#fff;position: absolute;top: 130px;}
.left h1{font-size: 2.5em}
.left p{padding-top: 30px;}
.btn01{width: 150px;height: 45px;background-color: #00B8FF;margin-top: 30px;margin-left: 250px;line-height: 45px;font-size: 18px;text-align: center;font-weight: bold;cursor: pointer;}
.btn01:hover{background-color: rgba(0,0,0,0);border: 1px solid #00B8FF;}

.right{width: 600px;right: 100px;color:#fff;position: absolute;bottom: 180px;}
.right h1{font-size: 2.5em;text-align: right;}
.right p{padding-top: 30px;text-align: right;}
.btn02{width: 150px;position: absolute;right: 50px;height: 45px;background-color: #00B8FF;margin-top: 30px;line-height: 45px;font-size: 18px;text-align: center;font-weight: bold;cursor: pointer;}
.btn02:hover{background-color: rgba(0,0,0,0);border: 1px solid #00B8FF;}




.page4{background-image: url(../images/bg4.jpg);}