@charset "utf-8";
/*menu*/
#navTop{z-index: 2;position: relative;}
#top_logo{position: absolute;margin: 50px;margin-left: 150px;}
#top_logo{width: 1200%;height: 35px;}
#top_menu{position: fixed;width:10%;height: 100%;background-color:#fff;right: -100%;}
#top_menu div{position: absolute;left:10%;top: 50%;transform: translateY(-50%);}
#top_menu li{padding-bottom: 50px;}
#top_menu li a{color:skyblue;font-weight: bold;font-size: 1.3em;}


.toggle{width: 40px;height:40px;position: fixed;right: 0;cursor:pointer;z-index: 3;margin: 50px;}
.toggle div{position: fixed;width: 35px;height: 4px;background-color: #ddd;z-index: 2;border-radius:2px;}


.toggle .bar1{top: 53px;}
.toggle .bar2{top: 63px;}
.toggle .bar3{top: 73px;}

.toggle.change .bar1{transform: rotate(-45deg);top: 30px;}
.toggle.change .bar2{display: none;}
.toggle.change .bar3{transform: rotate(45deg);top: 30px;}

/*page*/
#fullpage{width: 100%;height: 100%;}
/*#page{background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;}*/
.page1{position: relative;}
.scroll{animation:ho 1s infinite alternate;position: absolute;right: 50%;z-index: 3;}
.scroll p{color:#28323C;text-align: center;}

@keyframes ho{
	from{bottom: 20px;}
	to{bottom: 40px;}
}

.slide{}
.slide .sView1,
.slide .sView2,
.slide .sView3
{width: 100%;height: 100%;}
.sView1{background: url(../images/main-1.jpg);background-size: cover;}
.sView2{background-image: url(../images/main-2.jpg);background-size: cover;}
.sView3{background-image: url(../images/main-3.jpg);background-size: cover;}
.slide .sView1 p,
.slide .sView2 p,
.slide .sView3 p{font-size: 4.5em; color:#28323C;font-weight: bold;padding-top: 300px;padding-left: 200px;line-height: 1.3em;}
/*.fp-controlArrow.fp-prev{display: none;}
.fp-controlArrow.fp-next{display: none;}*/
.apple{position: absolute;right: 28%;bottom: 10%;z-index: 3;}
.google{position: absolute;right: 15%;bottom: 10%;z-index: 3;}


/*page2*/
.page2 h1{margin-left: 100px;margin-bottom: 30px;font-size: 2.3em;}
.page2 span{margin-left: 100px;}
.page2{background-image: url(../images/page2_bg.png);position: relative;}
.card{position: absolute;right: 0;top: 50%;transform: translateY(-50%);cursor:pointer;}
.card01{position: relative;width: 350px;height: 500px;overflow: hidden;float: left;}
.img1{display: block;position: absolute;left: -50%;}
.card01:hover img{transition: 0.3s;transform: scale(1.2);}
.card01:hover .back{opacity: 0.3;}
.card01:hover .card_body1{color:#fff;z-index:2;font-size:2.5em;transition: 0.8;}
.card_body1{z-index:1;position: absolute;top: 50%;left: 50%;transform: translateX(-50%);font-size: 2em;font-weight: bold;color:#fff;}
.back{position: absolute;width: 350px;height: 500px;z-index:1;background-color:#000;top: 0;opacity: 0;transition: 0.3;}

.card02{position: relative;width: 350px;height: 500px;overflow: hidden;float: left;}
.img2{position: absolute;left: -50%;}
.card02:hover img{transition: 0.3s;transform: scale(1.2);}
.card02:hover .back{opacity: 0.3;}
.card02:hover .card_body2{color:#fff;z-index:2;font-size:2.5em;transition: 0.8;}
.card_body2{z-index:1;position: absolute;top: 50%;left: 50%;transform: translateX(-50%);font-size: 2em;font-weight: bold;color:#fff;}


.card03{position: relative;width: 350px;height: 500px;overflow: hidden;float: left;}
.img3{position: absolute;left: -50%;}
.card03:hover img{transition: 0.3s;transform: scale(1.2);}
.card03:hover .back{opacity: 0.3;}
.card03:hover .card_body3{color:#fff;z-index:2;font-size:2.5em;transition: 0.8;}
.card_body3{z-index:1;position: absolute;top: 50%;left: 50%;transform: translateX(-50%);font-size: 2em;font-weight: bold;color:#fff;}


.card04{position: relative;width: 350px;height: 500px;overflow: hidden;float: left;}
.img4{position: absolute;left: -50%;}
.card04:hover img{transition: 0.3s;transform: scale(1.2);}
.card04:hover .back{opacity: 0.3;}
.card04:hover .card_body4{color:#fff;z-index:2;font-size:2.5em;transition: 0.8;}
.card_body4{z-index:1;position: absolute;top: 50%;left: 50%;transform: translateX(-50%);font-size: 2em;font-weight: bold;color:#fff;}






/*.page3{background-image: url(../images/bg3.png ), url(../images/bg3-2.png);position: relative;}*/
/*.page3:hover {transform: scale(1.2);transition: 0.3s;}*/
.page3{position: relative;overflow: hidden;}
/*.img_woman{width: 100%;height: 100%;background:url(../images/bg3_woman.jpg) no-repeat center left;background-size: cover;position: absolute;top: 0;left: 0;}*/
.page3 img{position: absolute;height:1080px;left:50%;top:50%;transform: translate(-50%,-50%);}
.page3 .page3wrap{width: 100%;height: 100%;}
.page3 a{float: left;width: 50%;height: 100%;position: relative;}
.page3 a.left{width: 50%;height: 100%;color:#fff;}
.page3 .left h1{font-size: 2.3em;}
.page3 .left p{padding-top: 25px;}
.page3 .btn01{width: 150px;height: 45px;background-color: #00B8FF;position: absolute;top: 350px;left: 500px;line-height: 45px;font-size: 16px;text-align: center;font-weight: bold;cursor: pointer;}
.page3 .btn01:hover{background-color: rgba(0,0,0,0);border: 1px solid #00B8FF;}

.page3 a.right{color:#fff;}
.page3 .right h1{font-size: 2.3em;text-align: right;}
.page3 .right p{padding-top: 25px;text-align: right;}
.page3 .btn02{width: 150px;position: absolute;right: 150px;bottom: 150px;height: 45px;background-color: #00B8FF;line-height: 45px;font-size: 16px;text-align: center;font-weight: bold;cursor: pointer;}
.page3 .btn02:hover{background-color: rgba(0,0,0,0);border: 1px solid #00B8FF;color:#00B8FF;}

.text{width: 500px;height: 300px;margin-left:450px;margin-top: 150px;}
.text2{width: 500px;height: 200px;float: right;margin-top: 500px;margin-right: 100px;}








.page4{background-image: url(../images/phone_off.png);position: relative;}
 
.onview h1{font-size: 3em;position: absolute;left: 0px;line-height: 1.5em;transition: 0.3s;opacity: 0;}
.onview.move{opacity: 1;left: 30%;}
