@charset"utf-8";

header#main_header{margin:0 auto;height: 300px;position:relative;}
header#main_header>div.main_util{
	background-color: none;width: 980px; height: 30px;
	position:absolute;
	right:0;top:10px; margin-bottom: 10px;}
header#main_header>div.main_util>ul>li{float:left;text-align: center;
	
	}
header#main_header>div.main_util>ul>li>a{
	display: block;padding: 0 15px;}

header#main_header>h1{
	margin:0 auto;text-align:center;width: 980px;
	height: 100px;padding: 50px 0; margin-bottom: 10px;
}
header#main_header>nav.main_menu{
	background-color: blue;position:absolute;
	height: 45px;
}
header#main_header>nav.main_menu>ul>li{
	float:left; text-align: center;width:163.33px; }
header#main_header>nav.main_menu>ul>li>a{
	display:block;color:white;line-height: 45px;font-weight: bold; }
header#main_header>nav.main_menu>ul>li>a:hover{
	background-color: skyblue;color:black;}