@charset "utf-8";
@import "pc.css" all and (min-width:961px);
@import "tablet.css" all and (max-width:960px);

@media all and (max-width:630px){
    #main_header{height: 800px;}
    #header_top > h1 img{width: 60px;height: 60px;}
    .slider_wrap ul li{height: 300px;}
    .slider_wrap h3{padding-left: 100px;font-size:2em;text-shadow: 0px 0px 8px #000;padding-bottom: 10px;}
    .slider_wrap h3:after{content:"";display: block;width: 200px;height: 3px;background-color: #fff;margin:20px auto;}
    .slider_wrap p{padding-left:100px;font-size:1.8em;text-shadow: 0px 0px 8px #000;}
    #main_header .content li{float: left;width: 25%;height:250px;}
    .content li.content3st{width: 100% !important;position: relative;}
    .content li.content3st .slider2 div.right{float: left;width: 50%;height:250px;position: relative;}
    .content li.content3st .slider2 div.right img{width: 100%; position: absolute;left: 0;top: 50%;transform:translateY(-50%); }
    .content li.content3st .btn{position: absolute;left: 150px;bottom: 30px;cursor:pointer;}
    .content li.content3st .btn img{float: left;width: 38px;display: block;}

    .content li.content7st{
    width: 100% !important;color:#fff;position: relative;overflow: hidden;
}
    .content li.content7st img{width: 100%;top: 50%;transform:translateY(-50%);position: absolute;}

    .container{height: 350px;background:url(../images/contentsbg_01.png) no-repeat center fixed;
    margin-bottom:30px;
    }
    .container .section{width: 100%;margin:0 auto;padding-top: 30px;}
    .section>h4{text-align: center;color: #fff;}
    .section>h4:after{content:"";display: block;width: 50px;height: 3px;background-color: #fff;margin:20px auto;}
    .section>p{text-align: center;color:#fff;font-size:1.3em;margin-bottom:30px;}
    .section ul li{width: 30%;float: left;margin-right: 30px auto;}
    .section ul li:last-child{margin-right: 0px;}
    .section ul li:first-child{margin-left:30px;}
    .section .icon{width: 150px;height: 150px;text-align: center;position: relative;transition: 0.3s;}
    .section .icon img{width: 100px;height: 100px;}
    .section .icon:hover{transform: translate(-10px,-10px);box-shadow:15px 15px 10px rgb(0,0,0,0.3);}
    .section .icon:after{content:"";display: block;width: 100px;height: 2px;background-color: #fff;margin:10px auto;}
    .section .icon_body{width: 150px;height: 30px;position: absolute;bottom: 0;color:#fff;text-align: center;}
    .section .icon_body h3{font-size: 1em;}
    
    /*content*/
    .content02{width: 100%;margin:0 auto;margin-bottom: 30px;}
    .content02 ul{}
    .content02 ul li{float: left;width: 50%;height: 250px;}
    .content02 .content02_1st{width: 50%;background-color: #797779;position: relative;}
    .slider03 li{width: 100%;}
    .slider03 img{padding:0 0 30px 80px;}
    .slider03 h3{text-align: center;color:#fff;font-size:30px;padding-bottom: 15px;display: block;}
    .content02_1st .slider03 p{display: none;}
    .content02_1st .slider03 span{display: none;}



    .content_btn .prevbtn02{display: none;}
    .content_btn .nextbtn02{display: none;}

    .content02 .content02_1st .bx-wrapper {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        background: none;
    }

    

    .content02_3st,
    .content02_5st,
    .content02_7st{display: none;}


    .content02 .content02_2st{display: block;width: 50%;position: relative;overflow: hidden;}
    .content02 .content02_2st img{width: 100%;top: 50%;transform:translate(0,-50%) scale(1.5);position: absolute;}
    .content02 .content02_2st:after{display:none;}


    .content li.content7st img{width: 100%;}

    .content02 .content02_4st{display: block;width: 50%;}
    .content02 .content02_4st img{width: 100%;}
    .content02 .content02_4st:after{display:none;}

    .content02 .content02_6st{display: block;width: 50%;}
    .content02 .content02_6st img{width: 100%;}
    .content02 .content02_6st:after{display:none;}
}


@media all and (max-width:520px){

}