@charset "utf-8";
#main_header{height: 1950px;position: relative;margin-bottom:50px;}
#header_top{
	width: 1260px;height: 100px;
	position: absolute;left: 50%;margin-left:-630px;top: 40px;
	z-index:1;
}
#header_top > h1{float: left;}
#header_top > #main_menu{float: right;}
#main_menu ul{}
#main_menu ul li{float: left;}
#main_menu ul li a{display: block;line-height: 100px;padding: 0 30px;font-weight: bold;font-size:20px;color:#fff;}
#main_menu ul li img{padding: 25px;}

/*bxslider*/
.slider_wrap{height: 1005px;position: relative;}
.slider_wrap ul li{height: 1005px;}
.slider_wrap li.first{
	background:url(../images/mainimg01.jpg) no-repeat center;
	background-size: cover;
}
.slider_wrap li.second{
	background:url(../images/mainimg01.jpg) no-repeat center;
	background-size: cover;
}

.slider_wrap .slider_txt{
	width: 500px;position: absolute;left: 40%;margin-left:-350px;
	_background-color:rgba(255,255,255,0.3);top: 25%;color:#fff;
	_padding: 20px 20px 30px 20px; _box-shadow:0 0 10px #000;

}
.slider_wrap h3{font-size:6em;text-shadow: 0px 0px 8px #000;padding-bottom: 10px;}
/*.slider_wrap h3:after{content:"";display: block;width: 300px;height: 3px;background-color: #fff;margin:20px auto;}*/
.slider_wrap p{font-size:4em;text-shadow: 0px 0px 8px #000;}
.bx-wrapper {
    -moz-box-shadow: 0px none;
    -webkit-box-shadow: 0px none;
    box-shadow: 0px none;
    border:0px;
}
.slider_wrap .prevbtn{position: absolute;top: 50%;cursor: pointer;}
.slider_wrap .nextbtn{position: absolute;top: 50%;right: 0;cursor: pointer;}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 350px;
    width: 100%;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #fff;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #fff;
}
.bx-wrapper .bx-pager.bx-default-pager a {
     background: none; }

/*header content*/
#main_header .content{
	width: 1260px;position: absolute;bottom: 0;
	_background-color: #fff;height: 1260px;left: 50%;margin-left: -630px;}
#main_header .content li{float: left;width: 25%;height:315px;
	_border: 1px solid #000;}
.content li.content1st{
	background-color: #8ebb24;padding-top: 50px;text-align: center;color:#fff;font-weight:bold;
}
.content li.content2st{position: relative;}
.content li.content2st img:nth-child(2){position: absolute;top: 40%;left: 35%;}

.content li.content3st .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: #fff;
   /* position: absolute;
    top: 0;left: 0;*/
}
.content li.content3st{width: 50% !important;position: relative;}
.content li.content3st h2{width: 200px;position: relative;z-index:1;padding-top: 30px;padding-left: 30px;position: absolute;}
.content li.content3st .slider2 {position: absolute;top: 0;left: 0;width: 630px;_}
.content li.content3st .slider2 li{width: 630px !important;}
.content li.content3st .slider2 div{float: left;width: 315px;height: 315px;}
.content li.content3st .slider2 div.left{padding-left: 33px;padding-top: 75px;}
/*.content li.content3st .slider2 div.left h2{padding-top: 45px;}*/
/*.content li.content3st .slider2 div.left p{}*/
.content li.content3st .slider2 div.left:after{content:"";border-width:20px;border-style:solid;border-color: transparent transparent transparent #fff;position: absolute;left: 315px;top: 120px;}

.content li.content3st .btn{position: absolute;left: 200px;bottom: 30px;cursor:pointer;}
.content li.content3st .btn img{float: left;width: 38px;_border: 1px solid #cdcdcd;display: block;}


.content li.content5st{
	background-color: #f8de20;padding-top: 50px;text-align: center;color:#fff;font-weight:bold;
}
.content li.content6st{
	background-color: #009949;padding-top: 50px;text-align: center;color:#fff;font-weight:bold;
}
.content li.content7st{
	width: 50% !important;color:#fff;position: relative;
}
.content li.content7st .card>h3{color:#dd0021;}
.content li.content7st .card>p{font-size:1.5em;font-weight:normal;}
.content li.content7st .card>p>span{font-size:1.8em;}
.content .card{position: absolute;top: 30px;left: 30px;}
.content .card h3{font-weight:normal;}
.content .card h3:after{content:"";display: block;width: 30px;height: 3px;background-color: #fff;margin:10px 0;}
.content .card p{font-size: 2em;font-weight:bold;}
.content li.content8st{
	height: 630px !important;position: relative;color:#fff;	
}
.content li.content9st{position: relative; width: 50% !important;}
.content li.content10st{background-color: #f8de20;text-align: center;padding-top: 50px;color:#fff;}
.content li.content11st{background-color: #009949;text-align: center;padding-top: 50px;color:#fff;}
.content li.content12st{position: relative;width: 50% !important;}

/*cotainer*/
.container{height: 730px;background: url(../images/contentsbg_01.png) no-repeat center fixed;
	background-size:cover;margin-bottom:60px;
	}
.container .section{width: 1260px;margin:0 auto;padding-top: 70px;}
.section>h4{text-align: center;color: #fff;}
.section>h4:after{content:"";display: block;width: 50px;height: 3px;background-color: #fff;margin:30px auto;}
.section>p{text-align: center;color:#fff;font-size:2em;margin-bottom:100px;}
.section ul{_width: 100%;}
.section ul li{float: left;margin-right: 30px;}
.section ul li:last-child{margin-right: 0px;}
.section .icon{width: 400px;height: 250px;text-align: center;position: relative;transition: 0.3s;}
.section .icon:hover{transform: translate(-10px,-10px);box-shadow:15px 15px 10px rgb(0,0,0,0.3);}
.section .icon:after{content:"";display: block;width: 200px;height: 2px;background-color: #fff;margin:10px auto;}
.section .icon_body{width: 400px;height: 50px;position: absolute;bottom: 0;color:#fff;text-align: center;}

/*content02*/
.content02{width: 1260px;margin:0 auto;margin-bottom: 60px;}
.content02 ul{}
.content02 ul li{float: left;width: 315px;height: 315px;}
.content02 .content02_1st{height: 630px !important;background-color: #797779;padding: 60px 0px;position: relative;}
.slider03 img{padding:0 0 30px 80px;}
.slider03 h3{text-align: center;color:#fff;font-size:30px;padding-bottom: 30px;padding-left: 0;}
.content02_1st .slider03 p{color:#fff;}
.content02_1st .slider03 span{float: right;margin-top: 200px;color: #fff;}


.content_btn .prevbtn02{position: absolute;bottom: 10px;right: 69px;}
.content_btn .nextbtn02{position: absolute;bottom: 10px;right: 30px;}

.content02 .heart{padding-top: 50px;}

.content02 .content02_3st{padding: 30px;position: relative;}
.content02 .content02_3st p{font-size:11pt;}
.content02 .content02_3st:after{content:"";border-width:20px;border-style:solid;border-color: #fff transparent transparent  transparent ;position: absolute;top: 314px;left: 140px;}

.content02 .content02_5st{padding: 30px;position: relative;}
.content02 .content02_5st p{font-size:11pt;}
.content02 .content02_5st:after{content:"";border-width:20px;border-style:solid;border-color: transparent transparent #fff transparent ;position: absolute;bottom: 314px;left: 140px;}

.content02 .content02_7st{padding: 30px;position: relative;}
.content02 .content02_7st p{font-size:11pt;}
.content02 .content02_7st:after{content:"";border-width:20px;border-style:solid;border-color: transparent transparent #fff transparent ;position: absolute;bottom: 314px;left: 140px;}

/*bottom*/
#bottom_wrap{width: 1260px;margin:0 auto;background-color: #f00;margin-bottom:60px;}
.left02{width: 50%;height: 315px;background-color: #155427;float: left;color:#fff;padding: 30px;position: relative;}
.left02 img{display: block;position: absolute;right: 0;bottom: 0;}
.bottom_btn{width: 170px;height: 50px;border: 2px solid #fff;margin-top: 70px;}
.left02 span{line-height: 46px;padding-left: 40px;}
#bottom_wrap h3{font-size:2em;padding-bottom: 30px;}
.right02{width: 50%;height: 315px;background-color: #779a0d;float: right;padding: 30px;color:#fff;position: relative;}
.right02 img{position: absolute;right: 0;bottom: 0;display: block;}
.right02 span{line-height: 46px;padding-left: 40px;}

/*footer*/
#footer_wrap{border-top:2px solid #d1d2d4;}
.footer{width: 1260px;margin:0 auto;padding-top: 20px;margin-bottom:30px;}
.footer_logo{float: left;}
.adress{width: 800px;margin:0 auto;padding-top: 20px;}
.ft_menu li{float: left;padding:0 20px;border-left:1px solid #848484;}
.ft_menu a{color:#848484;}
.ft_menu li:first-child{padding-left: 0;border: none;}
.ft_txt{float: left;color:#8f8f8f;padding-top: 20px;}

.ft_right{float: right;width: 196px;height: 46px;border: 1px solid #848484;position: relative;}
.ft_right p{color: #848484;line-height: 44px;padding-left: 20px;}
.ft_right p:after{content:"";border-width:10px;border-style:solid;border-color: #848484 transparent transparent  transparent;position: absolute;right: 15px;bottom: 5px;}

/*sub01*/
.background{height: 500px;background:url(../images/mainimg02.jpg)no-repeat center;background-size: cover}
.background h3{text-align: center;color:#fff;font-size:60px;padding-top:180px;}
.background p{text-align: center;color:#fff;font-size: 30px;padding-top: 10px;}

.brand_menu{width: 1260px;height: 70px;margin:0 auto;background-color: #f00;margin-bottom: 0px;}